@import "tailwindcss";

:root {

  --background:#f7f6f2;

  --foreground:#1b1b1b;

  --green:#12372A;

  --gold:#C79A3B;

  --gray:#6B7280;

}

*{

box-sizing:border-box;

margin:0;

padding:0;

}

html{

scroll-behavior:smooth;

}

body{

background:var(--background);

color:var(--foreground);

font-family:var(--font-inter);

}

h1,h2,h3,h4{

font-family:var(--font-playfair);

}

section{

padding:100px 8%;

}

.container{

max-width:1400px;

margin:auto;

}

.btn{

display:inline-flex;

align-items:center;

justify-content:center;

padding:14px 32px;

border-radius:9999px;

font-weight:600;

transition:.3s;

cursor:pointer;

}

.btn-primary{

background:var(--green);

color:white;

}

.btn-primary:hover{

transform:translateY(-3px);

}

.btn-outline{

border:1px solid white;

color:white;

}
.font-playfair {
  font-family: var(--font-playfair);
}